<header class="is-fixed">
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" [routerLink]="['/']">
                    <img src="../../../assets/anonymous.svg" alt="HackerNews" height="64">
                </a>
                <div class="navbar-item is-paddingless">
                    <p class="header is-size-6">
                        Hacker News <span class="is-hidden-desktop" *ngIf="title">| {{title}}</span>
                        <span class="header is-size-7 is-hidden-touch">Powered by Angular</span>
                    </p>
                </div>
                <div class="navbar-item is-hidden-desktop">
                    <div class="tags has-addons">
                        <span class="tag">Page</span>
                        <span class="tag is-dark">{{curPageNumber}}</span>
                    </div>
                </div>
                <button class="button is-primary navbar-burger" [ngClass]="{'is-active': showMenu}" (click)="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu" [ngClass]="{'is-active': showMenu}">
                <div class="navbar-start is-hidden-desktop">
                    <ng-container *ngFor="let navRoute of navRoutes">
                        <a class="navbar-item" [routerLink]="[navRoute.path]" [routerLinkActive]="'is-active'">
                            {{navRoute.data.name}}
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar has-shadow is-hidden-touch">
        <div class="container">
            <div class="navbar-tabs">
            <ng-container *ngFor="let navRoute of navRoutes">
                <a class="navbar-item is-tab " [routerLink]="[navRoute.path]" [routerLinkActive]="'is-active'">
                    {{navRoute.data.name}}
                </a>
            </ng-container>
            </div>
            <div class="spacer"></div>
            <div class="level">
                <div class="level-item">
                    <div class="tags has-addons">
                        <span class="tag">Page</span>
                        <span class="tag is-primary">{{curPageNumber}}</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<button [ngClass]="{'is-active': isScrollBtnActive}" type="button" class="is-scroll-btn" (click)="scrollUp()">Top</button>
<div class="navbar-shadow is-hidden-desktop" [ngClass]="{'is-active': showMenu}" (click)="toggleMenu()"></div>