header {
    position: relative;
    .modal-background {
        position: fixed;
        z-index: 10;
    }
    .hero-body {
        padding: 1rem 0 1rem 6.5rem;
        @media screen and (min-width: 768px) {
            padding: 1rem 0 1rem 1.5rem;
        }
    }
    .toggle-button {
        position: absolute;
        top: 50%;
        z-index: 11;
        transform: translateY(-50%);
        width: 55px;
        font-size: 30px;
        height: 55px;
        padding: 0;
        left: 25px;
        background: transparent;
        border: 1px solid#fff !important;
        color: #fff;
        border-radius: 37px;
    }
    .dropdown {
        position: static;
        .dropdown-content {
            color: #00d1b2;
            .dropdown-item {
                font-size: 1.2rem;
            }
            .is-active {
                color: #fff;
            }
        }
    }
}

.pagination-section {
    padding: 15px 24px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.page-type {
    padding: 15px 24px 0 24px;
    .heading {
        font-size: 1.4rem;
        color: #00d1b2
    }
}

.back-section {
    .pagination {
        width: 120px;
    }
}