// $primary-color: #00d1b2;
// .header {
//     width: 100%;
//     height: 115px;
//     background: $primary-color;
//     padding: 15px;
//     .image {
//         width: 110px;
//         float: left;
//         cursor: pointer;
//     }
//     .heading {
//         width: calc(100% - 110px);
//         float: left;
//         color: #fff;
//         padding-top: 17px;
//         text-transform: uppercase;
//         p:first-of-type {
//             font-size: 28px;
//             font-weight: 600;
//             line-height: 1.125;
//         }
//         p:last-of-type {
//             font-size: 17px;
//             font-weight: 400;
//             line-height: 1.25;
//             color: hsla(0, 0%, 100%, .9);
//         }
//     }
// }

// .navigation {
//     width: 100%;
//     height: 50px;
//     padding: 10px 15px;
//     text-transform: uppercase;
//     position: relative;
//     box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
//     .menu-button {
//         width: 30px;
//         height: 30px;
//         margin-right: 15px;
//         float: left;
//         font-size: 20px;
//         padding: 0 1px 0 0;
//         font-weight: 900;
//         z-index: 54;
//     }
//     .page-name {
//         width: calc(100% - 125px);
//         height: 30px;
//         float: left;
//         color: $primary-color;
//         padding-top: 6px;
//         font-size: 18px;
//     }
//     .index {
//         width: 30px;
//         height: 30px;
//         margin-left: 15px;
//         float: right;
//         border-radius: 50%;
//         background: #00d1b2;
//         color: #fff;
//         text-align: center;
//         font-size: 12px;
//         padding-top: 8px;
//     }
//     .back-button {
//         width: 80px;
//         height: 30px;
//         float: right;
//     }
//     .modal-background {
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100vh;
//         z-index: 50;
//         background: #000;
//         opacity: 0.35;
//     }
//     .dropdown-menu {
//         width: 250px;
//         display: none;
//         z-index: 54;
//         position: absolute;
//         top: 50px;
//         left: 0;
//         background: #fff;
//         border-bottom-right-radius: 5px;
//         border-top-right-radius: 5px;
//         a {
//             display: block;
//             width: 100%;
//             height: 50px;
//             text-align: center;
//             text-decoration: none;
//             padding-top: 18px;
//             border-bottom: 1px solid rgba(38, 216, 189, 0.2);
//             color: $primary-color;
//             transition: all 0.15s ease-in-out;
//             &:hover {
//                 color: #fff;
//                 background: $primary-color;
//             }
//         }
//         .active {
//             color: #fff;
//             background: $primary-color;
//         }
//     }
//     .show {
//         display: block;
//     }
// }

// .fix-header {
//     position: fixed;
//     top: -1px;
//     left: 0;
//     background: #fff;
//     z-index: 20;
// }

// .divider {
//     height: 50px;
//     width: 100%;
//     z-index: 1;
// }

// .scroll-button {
//     width: 50px;
//     height: 50px;
//     position: fixed;
//     bottom: 78px;
//     right: 37px;
//     z-index: 44;
//     transform: rotate(-90deg);
//     font-size: 30px;
//     border-radius: 50%;
//     border: none;
//     color: #fff;
//     background: #00d1b2;
//     opacity: 0;
//     padding-bottom: 3px;
//     transition: all 0.15s ease-in-out;
//     cursor: pointer;
// }

// .show-scroll {
//     opacity: 0.35;
//     &:hover {
//         opacity: 1;
//     }
// }

// @media screen and (min-width: 768px) {
//     .navigation {
//         padding: 0 15px;
//         .menu-button,
//         .page-name,
//         .modal-background {
//             display: none;
//         }
//         .dropdown-menu {
//             display: block !important;
//             float: left;
//             position: static;
//             width: calc(100% - 125px);
//             height: 50px;
//             a {
//                 min-width: 100px;
//                 height: 100%;
//                 width: calc(70% / 5);
//                 border-bottom: none;
//                 float: left;
//             }
//         }
//         .index {
//             margin-top: 10px;
//         }
//     }
// }

.is-fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.navbar-menu{
    position: relative;
    z-index: 9999;
}
.navbar-shadow{
    position: fixed;
    width: 100%;
    top: 3.25rem;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 9998;
    display: none;

    &.is-active{
        display: block; 
    }
}