<header class="header">
    <div class="container">
        <div class="image" (click)="navigate('image-click')"> ​
            <picture>
                <source srcset="../../../assets/logo-webp.webp" type="image/webp">
                <img src="../../../assets/logo.png" alt="logo">
            </picture>
        </div>
        <div class="heading">
            <p class="truncate">HackerNews</p>
            <p class="truncate">powered by <span>Angular</span></p>
        </div>
    </div>
</header>
<nav [ngClass]="{'navigation': true, 'fix-header': fixHeader}">
    <div class="container">
        <button class="button menu-button" aria-haspopup="true" aria-controls="dropdown-menu" (click)="toggleMenu()" tabindex="0">&#9776;</button>
        <div [ngClass]="{'dropdown-menu': true, 'show': showMenu}" role="menu">
            <a routerLink="/newest" routerLinkActive="active" (click)="showMenu = false">Top</a>
            <a routerLink="/news" routerLinkActive="active" (click)="showMenu = false">New</a>
            <a routerLink="/show" routerLinkActive="active" (click)="showMenu = false">Show</a>
            <a routerLink="/ask" routerLinkActive="active" (click)="showMenu = false">Asks</a>
            <a routerLink="/jobs" routerLinkActive="active" (click)="showMenu = false">Jobs</a>
        </div>
        <div class="page-name">
            <p class="truncate" [innerHTML]="pageName"></p>
        </div>
        <div class="index" *ngIf="showIndexing">
            {{curPageNumber}}
        </div>
        <button class="button back-button" (click)="navigate('back')" *ngIf="!showIndexing">Back</button>
    </div>
    <div class="modal-background" *ngIf="showMenu" (click)="showMenu = false"></div>
</nav>
<div class="divider" *ngIf="fixHeader"></div>
<button [ngClass]="{'scroll-button': true, 'show-scroll': showScrollButton}" type="button" (click)="scrollUp()">&#10095;</button>