@import "../../../../assets/sass/variables";
.comment {
    overflow: hidden;
    word-break: break-word;
    p:nth-child(1) {
        width: 100%;
        margin-bottom: 5px;
        a {
            text-decoration: none;
            font-weight: 600;
            color: $primary-color;
        }
    }
    p:nth-child(2) {
        font-size: .75rem
    }
    p:nth-child(3) {
        margin-top: 10px;
        font-size: .75rem;
        line-height: 20px;
    }
    .comment-wrapper {
        padding-top: 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.17);
        margin-top: 20px;
        position: relative;
        .toggle {
            background: #fff;
            top: -11px;
            left: 0;
            font-size: .75rem;
            position: absolute;
            padding-left: 10px;
            width: inherit;
            cursor: pointer;
            span {
                &:first-of-type {
                    transform: rotate(45deg);
                }
                &:last-of-type {
                    transform: rotate(-45deg);
                    left: 0;
                }
                background-color: $primary-color;
                display: block;
                height: 2px;
                left: 6px;
                position: absolute;
                top: 48%;
                transition: -webkit-transform .3s ease-in-out;
                transition: transform .3s ease-in-out;
                transition: transform .3s ease-in-out,
                -webkit-transform .3s ease-in-out;
                width: 10px;
            }
            &.rotate {
                span:first-of-type {
                    transform: rotate(-45deg);
                }
                span:last-of-type {
                    transform: rotate(45deg);
                }
            }
        }
        .comment-item {
            max-height: 0;
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }
        .toggleAnimate {
            max-height: 9999999999px;
            opacity: 1;
        }
    }
    .no-border {
        border: none !important;
    }
}