<div class="left-button buttons" *ngIf="currentPageNumber - 1 > 0" (click)="navigate('left')" tabindex="0"> &gt; </div>
<div class="right-button buttons" *ngIf="pageData.length === 30" (click)="navigate('right')" tabindex="0"> &gt;</div>
<div class="items-wrapper">
    <div class="item padding" *ngFor="let item of pageData; let i = index">
        <div class="count">
            {{i+count}}
        </div>
        <div class="title">
            <a [href]="item.url" target="_blank" [innerHTML]="item.title"></a>
        </div>
        <div class="domain">
            <p [innerHTML]="item.domain"></p>
        </div>
        <div class="description">
            <span *ngIf="item.user">{{item.points ? item.points : '0'}} &#9733; by</span>
            <span class="user-name" [innerHTML]="item.user" tabindex="0" (click)="navigate('user', item.user)" *ngIf="item.user">
                </span> |
            <span class="time" [innerHTML]="item.time_ago"></span> |
            <span class="comments" [innerHTML]="item.comments_count + ' comments'" (click)="navigate('comments', item.id)" tabindex="0"></span>
        </div>
    </div>
</div>