<div class="left-button buttons" *ngIf="currentPageNumber - 1 > 0" (click)="navigate('left')" tabindex="0"> &#10095; </div>
<div class="right-button buttons" *ngIf="pageData.length === 30" (click)="navigate('right')" tabindex="0"> &#10095; </div>
<div class="container" id="content">
    <div class="item clearfix" *ngFor="let item of pageData; let i = index">
        <div class="count">
            {{i+count}}
        </div>
        <div class="story-title">
            <a [href]="item.url" target="_blank" [innerHTML]="item.title" rel="noopener"></a>
        </div>
        <div class="domain">
            <p class="truncate" [innerHTML]="item.domain"></p>
        </div>
        <div class="description">
            <div class="left-content">
                <span *ngIf="item.user">{{item.points ? item.points : '0'}} &#9733; by</span>
                <span class="user-name" [innerHTML]="item.user" tabindex="0" (click)="navigate('user', item.user)" *ngIf="item.user"> </span> {{ item.user ? ' | ' : ''}}
                <span [innerHTML]="item.time_ago"></span>
            </div>
            <div class="right-content">
                <span [innerHTML]="item.comments_count + ' comments'" (click)="navigate('comments', item.id)" tabindex="0"></span>
            </div>
        </div>
    </div>
</div>