article.tile.is-child.notification {
    position: relative;
    margin-bottom: 1rem !important;
    .story-title {
        a {
            text-decoration: none;
        }
        margin-bottom: 2px;
    }
    .domain {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .description {
        font-size: 13px;
        .user-name,
        .comments {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .count {
        position: absolute;
        bottom: 11px;
        right: 12px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        padding-top: 9px;
        font-size: 12px;
    }
}