<div class="container" id="content">
    <div class="user-info clearfix">
        <h2 class="title truncate" [innerHTML]="userData.id ? userData.id : ''"></h2>
        <p class="karma" [innerHTML]="userData.karma ? userData.karma +' &#9733;': '0 &#9733;'"></p>
    </div>
    <div class="other-info">
        <p class="creation truncate" [innerHTML]="userData.created ? 'Created ' + userData.created : 'Cant say when this user was created..'"></p>
        <p class="subtitle truncate">About <span>{{userData.id}}...</span></p>
        <p class="about" [innerHTML]="userData.about ? userData.about: 'Nothing to display about this user...'"></p>
    </div>
</div>