<section class="section">
  <div class="container">
    <h2 class="subtitle">User</h2>
    <div class="card">
      <div class="card-content">
        <div class="content">
          <p class="title is-4">{{userData.id}}</p>
          <p class="subtitle is-6" *ngIf="userData.karma">{{userData.karma}} &#9733;</p>
        </div>
        <div class="content" *ngIf="userData.about" [innerHTML]="userData.about"></div>
        <p class="is-size-7" *ngIf="userData.created">Account created {{userData.created}}</p>
      </div>
    </div>
  </div>
</section>
