.wrapper {
    min-height: calc(100vh - 330px);
}

.grey-out {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.alert {
    width: 70%;
    max-width: 400px;
    padding: 15px;
    border-radius: 5px;
    z-index: 60;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
    background: #000;
    opacity: 0.5;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.show-alert {
    bottom: 40px;
}

.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

button.skip:active,
button.skip:focus,
button.skip:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
}