<a href="javascript:void(0)" class="skip-link" (click)="skipContent($event)" aria-label="skip to main content" role="button">Skip to main content</a>
<div [ngClass]="{'offline': offline}">
    <app-header></app-header>
    <main class="wrapper hero is-light" role="main">
        <router-outlet hidden></router-outlet>
    </main>
    <app-footer></app-footer>
    <app-loader></app-loader>
</div>
<article class="offline-message notification is-warning" [ngClass]="{'is-active': offline}">
    No Internet Connection.
</article>