.offline {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.offline-message {
    max-width: 400px;
    position: fixed;
    z-index: 9999;
    bottom: -100px;
    right: 0;
    left: 0;
    margin: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s 0s ease-in-out;
    &.is-active {
        bottom: 20px;
        visibility: visible;
        opacity: 1;
    }
}

.wrapper {
    min-height: 100vh;
    padding-top: 3.25rem;
    position: relative;
    top: 0;
    @media screen and (min-width: 1024px) {
        padding-top: 3.25rem * 2;
    }
}