/* You can add global styles to this file, and also import other style files */

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
b,
u,
i,
ul,
li,
article,
footer,
header,
menu,
nav,
section,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
footer,
header,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

ol,
ul {
    list-style: none;
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: sans-serif;
    // padding-top: 83px;
}

// common classes
.container {
    @media screen and (min-width: 768px) {
        width: 90%;
        margin: 0 auto;
    }
    @media screen and (min-width: 992px) {
        width: 80%;
        margin: 0 auto;
    }
}

.padding {
    padding: 0 15px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
    background: none;
    border: 1px solid #00d1b2;
    border-radius: 5px;
    color: #00d1b2;
    text-align: center;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    &:hover {
        background: #00d1b2;
        color: #fff;
    }
}

.clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}