$primary-color-dark: #303F9F;
$primary-color: #3E50B2;
$primary-color-light: #C5CAE9;
$primary-color-text: #FFFFFF;
$accent-color: #448AFF;
$primary-text-color: #212121;
$secondary-text-color: #525252;
$divider-color: #BDBDBD;