// $primary-color-dark:   #7B1FA2;
// $primary-color:        #f60;//#9C27B0;
// $primary-color-light:  #E1BEE7;
// $primary-color-text:   #FFFFFF;
// $accent-color:         #7C4DFF;
// $primary-text-color:   #212121;
// $secondary-text-color: #757575;
// $divider-color:        #BDBDBD;
$primary-color-dark: #303F9F;
$primary-color: #3E50B2;
$primary-color-light: #C5CAE9;
$primary-color-text: #FFFFFF;
$accent-color: #448AFF;
$primary-text-color: #212121;
$secondary-text-color: #525252;
$divider-color: #BDBDBD;